html {
  height: 100%;
}

body {
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  color: white;
}

ul {
  list-style-type: none;
}

.password-container {
  margin-top: 40px;
}

.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.user-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 40%;
  height: auto;
  margin-bottom: 20px;
}


.login-box .user-box {
  position: relative;
}

.login-box .checkbox-input {
  float: left;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.checkbox-container {
  left: 0;
  color: #03e9f4;
  position: relative;
  display: block;
  padding-right: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  right: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
  background-color: #03e9f4;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box a:hover {
  background: #03e9f4;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4,
              0 0 25px #03e9f4,
              0 0 50px #03e9f4,
              0 0 100px #03e9f4;
}

.login-box a span {
  position: absolute;
  display: block;
}

.login-box a span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #03e9f4);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box a span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #03e9f4);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box a span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #03e9f4);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box a span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #03e9f4);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

.button-edit-mode {
  display: flex;
  align-items: right;
  justify-content: space-between;
  float : right;
  top: -80px;
}

.button-change-password {
  display: flex;
  align-items: right;
  justify-content: space-between;
  float : right;
  top: -200px;
}

.textfield--header-actions {
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  float : right;
}

.button-check-password[title]:focus::after {
  content: attr(title);
  background-color: black;
  color: white;
  padding: 5px;
  margin-top: -2.3em;
  position: absolute;
  max-width: 200px; 
  border-radius: 5px;
  z-index: 1;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555555;
  background: #243b55;
  margin-top:20px;
}

.nav.nav-tabs-custom-colored > li.active > a, 
.nav.nav-tabs-custom-colored > li.active > a:hover, 
.nav.nav-tabs-custom-colored > li.active > a:focus {
  background-color: #243b55;
  color: #243b55;
  cursor: pointer;
}

.tab-content.profile-page {
  padding: 35px 15px;
}

.profile .user-info-left {
  text-align: center;
}

.profile .user-info-left, 
.profile .user-info-right {
  padding: 10px 0;
}

.profile .user-info-left img {
  border: 3px solid #26125a;
}

.profile .user-info-left h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.3em;
  margin-bottom: 20px;
}

.user-info-left .btn{
    border-radius:0px;    
}

.profile .user-info-left ul.social a {
  font-size: 20px;
  color: #348312;
}

.profile .user-info-right {
  border-left: 1px solid #1c128c;
  padding-left: 30px;
}

.profile h3, .activity h3, .settings h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-top: 0;
  margin-bottom: 20px;
}

.data-row .data-name, .data-row .data-value {
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
}

.data-row .data-name {
  width: 12em;
    color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
  font-size: 0.9em;
  vertical-align: top;
}

ul.activity-list > li:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

ul.activity-list > li {
  padding: 15px;
}

ul.activity-list > li .activity-icon {
  display: inline-block;
  vertical-align: middle; 
  -moz-border-radius: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  width: 34px;
  height: 34px;
  background-color: #e4e4e4;
  font-size: 16px;
  color: #39a01f;
  line-height: 34px;
  text-align: center;
  margin-right: 10px;
}

fieldset {
  margin-bottom: 40px;
}

hr {
  border-top-color: #ddd;
}

.form-horizontal .control-label {
  text-align: left;
}

.form-control, .input-group .form-control {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.list-items {
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
} 

.app-item {
  background-color: #7df57a;
  padding: 1rem;
  margin: .8rem 0;
  border-radius: 30px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: space-between;
  color: black;

  .app-input {
      padding: 0.2rem;
      margin: .2rem 0;
      border-radius: 30px;
      border-color: transparent;
      background-color: transparent;
      text-align: center;
  }
  .app-description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0.2rem;
    margin: .2rem 0;
    border-radius: 30px;
    border-color: transparent;
    background-color: transparent;
    text-align: center;
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  outline: none;
}
.switch input {
  position: absolute;
  top: -99999px;
  left: -99999px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.container {
	background-size: cover;
  background: rgb(226,226,226); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(226,226,226,1)), color-stop(50%,rgba(219,219,219,1)), color-stop(51%,rgba(209,209,209,1)), color-stop(100%,rgba(254,254,254,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
  padding: 20px;
}

.led-box {
  height: 45px;
  width: 25%;
  margin-bottom: 10px;
  float: left;
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkGreen {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}



.led-green {
  margin: 0 auto;
  width: 24px;
  height: 25px;
  background-color: #2a9104;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #2a9104 0 -1px 9px, #2a9104 0 2px 12px;
  -webkit-animation: blinkGreen 0.5s infinite;
  -moz-animation:  blinkGreen 0.5s infinite;
  -ms-animation:  blinkGreen 0.5s infinite;
  -o-animation:  blinkGreen 0.5s infinite;
  animation:  blinkGreen 0.5s infinite;
}


@-webkit-keyframes blinkGreen {
  from { background-color: #2a9104; }
  50% { background-color: #247d03; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #01580a 0 -1px 9px, rgba(0, 255, 89, 0.5) 0 2px 0;}
  to { background-color: #2a9104; }
}
@-moz-keyframes blinkGreen {
  from { background-color: #2a9104; }
  50% { background-color: #247d03; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #01580a 0 -1px 9px, rgba(0, 255, 89, 0.5) 0 2px 0;}
  to { background-color: #2a9104; }
}
@-ms-keyframes blinkGreen {
  from { background-color: #2a9104; }
  50% { background-color: #247d03; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #01580a 0 -1px 9px, rgba(0, 255, 89, 0.5) 0 2px 0;}
  to { background-color: #2a9104; }
}
@-o-keyframes blinkGreen {
  from { background-color: #2a9104; }
  50% { background-color: #247d03; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #01580a 0 -1px 9px, rgba(0, 255, 89, 0.5) 0 2px 0;}
  to { background-color: #2a9104; }
}
@keyframes blinkGreen {
  from { background-color: #2a9104; }
  50% { background-color: #247d03; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #01580a 0 -1px 9px, rgba(0, 255, 89, 0.5) 0 2px 0;}
  to { background-color: #2a9104; }
}

.home-container {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.user-details {
  padding-top: 30px;
  text-align: center;
  
  ul {
    margin: 0;
		gap: 1rem;
		padding: 0;
		display: flex;
		list-style: none;
		place-items: center;
		flex-direction: column;

    li {
      width: 340px;
      text-align: center;
      border-radius: 3rem;
      background: #243b55;
      padding: 1.1rem 1.5rem 1.1rem 1.5rem;
    }
  }
}
